//font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&display=swap');

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Fira Sans', sans-serif;


//color
$base-color: #023E78;
$sub-color: #fff;
$font-color-white: #fff;
$font-color-black: #1A1A1A;
$font-color-primary: #023E78;
$btn-third-color: #FFF400;

//メディアクエリ
$breakpoint: (
    sp: 'screen and (max-width: 767px)',
    tab: 'screen and (min-width: 768px) and (max-width:1024px)',
    lg: 'screen and (min-width: 1025px) and (max-width:1300px)',
    pc: 'screen and (min-width: 1301px)'
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

@mixin arrow($color){
    border-right: 3px solid $color;
    border-bottom: 2px solid $color;
}